@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #000 url(../../Images/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: hard-light;
}

.container {
  position: absolute;
  top: 80px;
  left: 100px;
  right: 100px;
  bottom: 80px;
  background: url(../../Images/bg.jpg);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5), 0 0 0 100px rgba(0, 0, 0, 0.1);
}

.container h2 {
  margin-top: -80px;
  font-family: "Big Shoulders Display", cursive;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 5px;
  color: #00adff;
}
